.principles {
  position: relative;
  width: 100%;
  padding: var(--spacing-md);
  padding-top: var(--spacing-xl);
  user-select: none;
}

.label {
  display: block;
  line-height: var(--ui-line-height);
  color: var(--color-text-secondary);
  font-weight: 600;
}

.principles-list {
  position: relative;
  width: 100%;
  li ~ li {
    margin-top: var(--spacing-sm);
  }
}

.label ~ .principles-list {
  margin-top: var(--spacing-sm);
}
