.bottom-sheet {
  width: 100%;
  max-width: 768px;
  max-height: 95%;
  padding: 0;
  margin: 0;
  inset: 0;
  margin-top: auto;
  transform: translateY(100%);
  border: none;
  color: currentColor;
  background-color: var(--color-bg);

  &__content {
    position: relative;
    width: 100%;
    padding: var(--spacing-md);
  }
}

.bottom-sheet[open] {
  animation: open 320ms ease forwards;
}

.bottom-sheet.animate-fadeout {
  animation: close 320ms ease forwards;
}

dialog::backdrop {
  transition: background-color 320ms ease;
}

html:has(dialog[open]) {
  overflow: hidden;
}

dialog:not([open]) {
  pointer-events: none;
  visibility: hidden;
}

@keyframes open {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes close {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
