.button-group {
  position: relative;
  display: flex;
  align-items: center;
}

.form-control ~ .button-group {
  margin-top: var(--spacing-sm);
}
.button-group-btn {
  padding: var(--spacing-2xs) var(--spacing-sm);
  font-size: var(--fineprint);
  min-width: 36px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  text-transform: uppercase;
  border-radius: 4px;
  color: var(--color-text);
  transition: background-color 220ms ease;
  &:hover {
    background-color: var(--color-bg-hover);
  }
  &:active {
    background-color: var(--color-bg-active);
  }
}

.button-group-btn.button-group-btn--active {
  background-color: var(--color-bg-active);
  border-color: var(--color-bg-active);
}

.button-group-btn ~ .button-group-btn {
  margin-left: var(--spacing-xs);
}
