.button-icon {
  position: relative;
  background-color: transparent;
  color: var(--color-text);
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  transition: background-color 220ms ease;

  &:hover {
    background-color: var(--color-bg-hover);
    color: var(--color-text);
  }
  &:active,
  &:focus {
    background-color: var(--color-bg-active);
  }
}

.button-icon.button-icon--ghost {
  border-color: var(--color-border);
}
