.criterion {
  position: relative;
  width: 100%;
  padding-top: var(--spacing-sm);
  display: flex;
  flex-direction: column;

  &__header {
    position: relative;
    width: 100%;
  }
}

.criterion-title-group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.criterion-overline {
  display: block;
  line-height: var(--ui-line-height);
  font-size: var(--legal);
  color: var(--color-text-secondary);
}

.criterion-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: var(--body-01);
  font-weight: 500;
  line-height: var(--ui-line-height);
}

.criterion-subtitle {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: var(--caption);
  font-weight: 500;
  line-height: var(--ui-line-height);
}

.criterion-overline ~ .criterion-title {
  margin-top: var(--spacing-xs);
}

.level-tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: var(--ui-line-height);
  font-size: var(--fineprint);
  padding: var(--spacing-2xs) var(--spacing-xs);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  margin-right: auto;
}

.criterion-description {
  position: relative;
  width: 100%;
  font-size: var(--caption);
  color: var(--color-text);
  margin-bottom: var(--spacing-lg);
}

.criterion-subtitle ~ .criterion-description {
  margin-top: var(--spacing-sm);
}

.criterion-title ~ .level-tag {
  margin-top: var(--spacing-xs);
}

.criterion-success {
  position: relative;
  margin-top: var(--spacing-xl);
}

.brief {
  position: relative;
  width: 100%;
  border: 1px solid var(--color-border);
  margin-top: var(--spacing-lg);
}

.brief ~ .brief {
  margin-top: var(--spacing-sm);
}

.brief-title {
  font-size: var(--fineprint);
  font-weight: 600;
  padding: var(--spacing-2xs) var(--spacing-xs);
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text-secondary);
}

.brief-description {
  padding: var(--spacing-xs);
}

.special-cases {
  position: relative;
  width: 100%;
  margin-top: var(--spacing-lg);
  background-color: var(--color-bg-muted);
  padding: var(--spacing-sm);
  padding-left: var(--spacing-md);
  border-left: 2px solid var(--color-border-warning);

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: var(--spacing-sm);
    border-bottom: 1px solid var(--color-border);
    svg {
      margin-right: var(--spacing-xs);
    }
  }

  &__body {
    position: relative;
    margin-top: var(--spacing-md);
  }
}

.special-cases.special-cases--info {
  border-color: var(--color-border-brand);
}

.special-case {
  position: relative;
  width: 100%;
}

.special-case ~ .special-case {
  margin-top: var(--spacing-xl);
}

.special-case-title {
  font-size: var(--legal);
  font-weight: 600;
  color: var(--color-text-secondary);
}

.special-case-title ~ .special-case-description {
  margin-top: var(--spacing-xs);
}

.ref-link {
  display: block;
  text-decoration: underline;
  color: var(--color-text-brand);
}
