.list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 1px solid var(--color-bg-disabled);
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: transparent;
  transition:
    background-color 220ms ease,
    box-shadow 120ms ease;

  &:hover {
    background-color: var(--color-bg-hover);
  }
  &:active,
  &:focus {
    background-color: var(--color-bg-hover);
  }

  &:active {
    box-shadow: 0 0 0 2px hsla(204, 96%, 54%, 100%);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.list-item-icon ~ .list-item__content {
  margin-left: var(--spacing-md);
}

.list-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  color: var(--icon-color, currentColor);
  border-radius: 90px;
  background-color: var(--icon-bg-color);
}

.list-item-title,
.list-item-descr {
  display: block;
  line-height: var(--ui-line-height);
}

.list-item-title {
  color: var(--color-text);
  font-weight: 600;
}

.list-item-descr {
  color: var(--color-text-secondary);
  font-size: var(--legal);
}

.list-item-title ~ .list-item-descr {
  margin-top: var(--spacing-sm);
}
