.criterion-list {
  --pour-accent: #1bc4c4;
  position: relative;
  width: 100%;

  .criterion-list-item ~ .criterion-list-item {
    margin-top: var(--spacing-sm);
  }
}

.pour-item {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-border);

  &__header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    position: relative;
    width: 100%;
  }
}

.pour-item__header ~ .pour-item__footer {
  margin-top: var(--spacing-sm);
}

.pour-item-title-group {
  position: relative;
  display: flex;
  flex-direction: row;
}

.pour-item-overline,
.pour-item-sc,
.pour-item-title,
.pour-item-description {
  display: block;
  line-height: var(--ui-line-height);
}

.pour-item-overline,
.pour-item-description {
  font-size: var(--legal);
}

.pour-item-overline {
  color: var(--pour-accent);
}

.pour-item-description,
.pour-item-sc {
  color: var(--color-text-muted);
}

.pour-item-sc ~ .pour-item-title {
  margin-left: var(--spacing-xs);
}

.pour-item-overline ~ .pour-item-title-group {
  margin-top: var(--spacing-2xs);
}

.pour-item-title-group ~ .pour-item-description {
  margin-top: var(--spacing-sm);
}

.pour-item-tags {
  position: relative;
  display: flex;
  width: 100%;

  .pour-tag ~ .pour-tag {
    margin-left: var(--spacing-xs);
  }
}

.pour-tag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-2xs) var(--spacing-sm);
  border-radius: 90px;
  border: 1px solid var(--color-border);
  min-width: 36px;
  font-size: var(--fineprint);
}
