.criterion-list {
  position: relative;
  width: 100%;
  padding-bottom: 54px;

  .criterion-list-item ~ .criterion-list-item {
    margin-top: var(--spacing-sm);
  }
}

.pour-item {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-border);
  transition: background-color 220ms ease;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 6px;
  user-select: none;
  transition: box-shadow 125ms ease;

  &__header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
  }

  &:focus {
    background-color: var(--color-bg-hover);
  }
  &:active {
    box-shadow: 0 0 0 2px hsla(204, 96%, 54%, 100%);
  }
}

.pour-item__header ~ .pour-item__footer {
  margin-top: var(--spacing-lg);
}

.pour-title {
  color: var(--color-text);
  font-weight: 600;
}

.pour-ref-id {
  color: var(--color-text-secondary);
}

.pour-description {
  color: var(--color-text-secondary);
  font-size: var(--legal);
}

.pour-title ~ .pour-description {
  margin-top: var(--spacing-xs);
}

.pour-item-tags {
  position: relative;
  display: flex;
  width: 100%;

  .pour-tag ~ .pour-tag {
    margin-left: var(--spacing-xs);
  }
}

.pour-tag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-sm);
  border-radius: 4px;
  border: 1px solid var(--color-border);
  min-width: 28px;
  min-height: 20px;
  font-size: var(--fineprint);
  color: var(--color-text);
}
