.principle-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 1px solid var(--color-bg-disabled);
  padding: var(--spacing-md);
  background-color: transparent;
  transition:
    background-color 220ms ease,
    box-shadow 120ms ease;

  &:active {
    background-color: transparent;
  }

  &:hover,
  &:focus-visible {
    background-color: transparent;
    box-shadow: 0 0 0 2px hsla(204, 96%, 54%, 100%);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.pi-icon ~ .principle-item__content {
  margin-left: var(--spacing-md);
}

.pi-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  color: var(--icon-color, currentColor);
  border-radius: 90px;
  background-color: var(--icon-bg-color);
}

.pi-title,
.pi-descr {
  display: block;
  line-height: var(--ui-line-height);
}

.pi-title {
  color: var(--color-text);
  font-weight: 500;
  font-size: var(--caption);
}

.pi-descr {
  color: var(--color-text-secondary);
}

.pi-title ~ .pi-descr {
  margin-top: var(--spacing-xs);
}
