/* Figma base */
body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--body-line-height);
  color: var(--color-text);
  font-size: var(--footnote);
}

/* Typography */
h1,
h2,
h3,
h4,
p {
  color: currentColor;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: var(--heading-line-height);
}

h1 {
  font-size: var(--heading-01);
}

h2 {
  font-size: var(--heading-02);
}

h3 {
  font-size: var(--heading-03);
}

h4 {
  font-size: var(--heading-04);
}

h5 {
  font-size: var(--heading-05);
}

h6 {
  font-size: var(--heading-06);
}

p {
  font-size: var(--body-01);
  line-height: var(--body-line-height);
}

.caption {
  font-size: var(--body-02);
}

.footnote {
  font-size: var(--footnote);
}

.legal {
  font-size: var(--legal);
}

/* Figma UI styles */
button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--color-bg-brand);
  color: var(--color-text-onbrand);
  border: 1px solid transparent;
  font-size: var(--footnote);
  font-weight: 500;
  border-radius: 6px;
  cursor: default;
  outline: none;
  transition: box-shadow 125ms ease;

  &:active {
    background-color: var(--color-bg-brand-hover);
    box-shadow: none;
  }
  &:focus-visible {
    background-color: var(--color-bg-brand-hover);
    box-shadow: 0 0 0 2px hsla(204, 96%, 54%, 100%);
  }

  &.btn-secondary {
    color: var(--figma-color-text);
    background-color: transparent;
    border: 1px solid var(--color-border-disabled-strong);
    &:focus-visible {
      border: 1px solid transparent;
    }
    &:active {
      border: 1px solid var(--color-bg-brand);
      box-shadow: 0 0 0 2px hsla(204, 96%, 54%, 100%);
    }
  }

  &.btn-ghost {
    color: var(--color-text);
    background-color: transparent;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      background-color: var(--color-bg-hover);
    }

    &:active {
      background-color: var(--color-bg-active);
      box-shadow: 0 0 0 2px hsla(204, 96%, 54%, 100%);
    }
  }

  &.btn-icon {
    color: var(--color-icon);
    background-color: transparent;
    padding: var(--spacing-sm) var(--spacing-sm);
    border: 1px solid transparent;
    border-radius: 90px;
    &:hover {
      background-color: var(--color-bg-hover);
    }
    &:focus-visible {
      background-color: var(--color-bg-hover);
      box-shadow: 0 0 0 2px hsla(204, 96%, 54%, 100%);
    }
    &:active {
      color: currentColor;
    }
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.btn-settings {
    margin-right: auto;
    border: 1px solid var(--color-border-disabled-strong);
    &:focus-visible {
      border: 1px solid transparent;
    }
    &:active {
      border: 1px solid var(--color-bg-brand);
      box-shadow: 0 0 0 2px hsla(204, 96%, 54%, 100%);
    }
  }
}

.btn-icon__label {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label,
legend {
  font-size: var(--footnote);
  font-weight: 500;
  padding: 0;
  color: var(--color-text);
}

hr {
  background-color: var(--color-border);
  width: 100%;
  margin: var(--spacing-xl) 0;
  border: 0;
  height: 1px;
}

textarea {
  display: block;
  border: 0;
  font-size: var(--footnote);
  padding: 0 var(--spacing-sm);
  border-radius: 2px;
  border: 1px solid var(--color-border);
  background-color: transparent;
  color: var(--color-text);
  width: 100%;
  min-height: 32px;
  transition: box-shadow 125ms ease;

  &:active,
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px hsla(204, 96%, 54%, 100%);
  }
}

textarea::placeholder {
  color: var(--color-text-disabled);
}

textarea {
  resize: none;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  padding-right: 48px;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-disabled-secondary);
  outline: none;
  border-radius: 8px;
}

label ~ textarea,
label ~ .combobox {
  margin-top: var(--spacing-xs);
}

.form-control {
  position: relative;
}

.form-control ~ .form-control {
  margin-top: var(--spacing-md);
}
