@use './reset';
@use './variables';
@use './figma-ui';

body {
  background-color: var(--color-bg);
}

.plugin-header {
  position: relative;
  padding: var(--spacing-md);
  padding-top: var(--spacing-lg);
  border-bottom: 1px solid var(--color-border);
}

.search-filters {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--spacing-xs);
}

.plugin-body {
  position: relative;
  width: 100%;
  padding: var(--spacing-md);
  padding-top: var(--spacing-xl);
}

.label {
  display: block;
  line-height: var(--ui-line-height);
  color: var(--color-text-secondary);
  font-size: var(--legal);
  font-weight: 600;
}

.pour-list {
  position: relative;
  width: 100%;
  li ~ li {
    margin-top: var(--spacing-sm);
  }
}

.label ~ .pour-list {
  margin-top: var(--spacing-sm);
}
